{% raw %}{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Konto nieaktywne" %}{% endblock %}

{% block inner %}
<h1>{% trans "Konto nieaktywne" %}</h1>

<p>{% trans "To konto nie jest aktywne" %}</p>
{% endblock %}
{% endraw %}
