{% raw %}{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Potwierdź adres e-mail" %}{% endblock %}


{% block inner %}
<h1>{% trans "Potwierdź adres e-mail" %}</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p>{% blocktrans with confirmation.email_address.email as email %}Prosze potwierdź że <a href="mailto:{{ email }}">{{ email }}</a> jest e-mailem użytkownika {{ user_display }}.{% endblocktrans %}</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button class="btn btn-primary" type="submit">{% trans 'Confirm' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Ten link potwierdzajacy jest nieprawidlowy lub stracił ważność. Proszę <a href="{{ email_url }}">ponownie potwierdź email</a>.{% endblocktrans %}</p>

{% endif %}

{% endblock %}
{% endraw %}
