{% raw %}{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Zmiana hasła" %}{% endblock %}

{% block inner %}
    <h1>{% trans "Zmiana hasła" %}</h1>
    <p>{% trans 'Hasło zostało zmienione.' %}</p>
{% endblock %}
{% endraw %}
