{% raw %}{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Reset hasłą" %}{% endblock %}

{% block inner %}
    <h1>{% trans "Reset hasła" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}Wysłaliśmy ci e-mail. Jesli nie otrzymasz go w ciągu kilku minut skontaktuj sie z nami.{% endblocktrans %}</p>
{% endblock %}
{% endraw %}
