{% raw %}{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Ustaw hasło" %}{% endblock %}

{% block inner %}
    <h1>{% trans "Ustaw hasło" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" name="action" value="{% trans 'Ustaw hasło' %}"/>
    </form>
{% endblock %}
{% endraw %}
