{% raw %}{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Zmiana hasła" %}{% endblock %}

{% block inner %}

    <h1>{% trans "Zmiana hasła" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Zapomniałeś hasło? Podaj e-mail poniżej a wyślemy ci maila z linkiem do zmiany hasła." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary" type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <p>{% blocktrans %}Prosimy o kontakt jesli masz problemy ze zmianą hasła.{% endblocktrans %}</p>
{% endblock %}
{% endraw %}
