{% raw %}{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Zmiana hasła" %}{% endblock %}

{% block inner %}
    <h1>{% if token_fail %}{% trans "Nieprawidłowy Token" %}{% else %}{% trans "Zmiana hasła" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %} Link do zmiany hasła jest nieprawidłowy, prawdopodobnie ponieważ był już urzyty wcześniej. Proszę o nowy <a href="{{ passwd_reset_url }}">link do resetowania hasła</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action=".">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" name="action" value="{% trans 'zmiana hasła' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Hasło zostało zmienione.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
{% endraw %}
