{% raw %}{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Rejestracja nie jest możliwa" %}{% endblock %}

{% block inner %}
<h1>{% trans "Rejestracja niemożliwa" %}</h1>

<p>{% trans "Przepraszamy ale założenie nowego konta nie jest w tym momencie możliwe." %}</p>
{% endblock %}
{% endraw %}
