{% raw %}{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Rejestracja" %}{% endblock %}

{% block inner %}
<h1>{% trans "Rejestracja" %}</h1>

<p>{% blocktrans %}Masz już konto? Więc  <a href="{{ login_url }}">zaloguj się.</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-primary" type="submit">{% trans "Rejestracja" %} &raquo;</button>
</form>

{% endblock %}
{% endraw %}
