{% raw %}{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Weryfikacja adresu e-mail" %}{% endblock %}

{% block inner %}
<h1>{% trans "Weryfikacja adresu e-mail." %}</h1>

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Ta część strony przeznaczona jest wyłącznie dla zarejestrowanych i zweryfikowanych użytkowników. Dlatego wymagamy abyś potwierdził ze masz dostęp do skrzynki odbiorczej podanego adresu e-mail. {% endblocktrans %}</p>

<p>{% blocktrans %}Wysłaliśme e-mail weryfikacyjny, potwierdź e-mail kikając w link zawarty w wiadomości. Skontaktuj sie z nami jeśli nie dostaniesz maila w ciągu kilku minut.{% endblocktrans %}</p>

<p>{% blocktrans %}<strong>Uwaga:</strong> nadal możesz  <a href="{{ email_url }}">zmienić e-mail</a>.{% endblocktrans %}</p>


{% endblock %}
{% endraw %}
