{% raw %}{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Potwierdzenie adresu e-mail" %}{% endblock %}

{% block inner %}
    <h1>{% trans "Potwierdzenie adresu e-mail" %}</h1>

    <p>{% blocktrans %}Wysłaliśmy e-maila weryfikacyjnego. Kliknij zawarty tam link w celu zakończenia weryfikacji. Skontaktuj się z nami jeśli nie otrzymasz maila w ciągu kilku minut.{% endblocktrans %}</p>

{% endblock %}
{% endraw %}
