{% raw %}{% extends "base.html" %}

{% block title %}Strona nie znaleziona.{% endblock %}

{% block content %}
<h1>Taka strona nie istnieje</h1>

<p>Nie możemy znaleźć strony której szukasz.</p>
{% endblock content %}{% endraw %}
