{% raw %}{% extends "base.html" %}

{% block title %}Server Error{% endblock %}

{% block content %}
<h1>Uuups!!! 500</h1>

<h3>Coś nie działa jak powinno!</h3>

<p>Śledzimy te błędy automatycznie, jednak jeśli się powtarza możesz sie z nami skontaktować. W międzyczasie spróbuj odświeżyć strone.</p>
{% endblock content %}

{% endraw %}
